.header-1cont-1div {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 5rem;
  /* background-color: red; */
  flex-wrap: wrap;
  margin: 0.5rem;
  height: 10rem;
}
.header-1cont-2div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: green; */
}
.header-1cont-2div :last-child {
  /* background-color: blue; */
}
.header-1cont-2div :last-child > :first-child {
  font-family: "Kanit", sans-serif;
  font-size: 1.5rem;
}
.header-1cont-2div :last-child > :last-child {
  color: #888;
  margin-top: -1rem;
  /* background-color: yellow; */
}
.header-1cont-3div {
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* background-color: yellow; */
  align-items: center;
}
.header-1cont-3div > a {
  text-decoration: none;
  margin-top: -8rem;
  color: blue;
  font-weight: 500;
}

/* tab */
@media (min-width: 40rem) {
  .header-1cont-1div {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .header-1cont-2div :last-child > :first-child {
    font-size: 2rem;
  }
  .header-1cont-2div :last-child > :last-child {
    margin-top: -1.5rem;
  }
  .header-1cont-3div > a {
    margin-top: 0rem;
  }
}

/*lap */
@media (min-width: 80rem) {
  .header-1cont-1div {
    margin-left: 15rem;
    margin-right: 15rem;
  }
  .header-1cont-2div :last-child > :first-child {
    font-size: 2rem;
  }
  .header-1cont-2div :last-child > :last-child {
    margin-top: -1.5rem;
  }
  .header-1cont-3div > a {
    margin-top: 0rem;
  }
}
