.home-1div {
  margin: 0 auto;
  width: 90%;
}
.home-1div > p {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
}
.home-1div > p > a {
  color: blue;
  text-decoration: underline;
}

/* tab */
@media (min-width: 40rem) {
  .home-1div {
    width: 70%;
  }
}

/*lap */
@media (min-width: 80rem) {
  .home-1div {
    width: 50%;
  }
}
